<% if !current_user.household_id.nil? %>
  <%= render partial: 'partials/navbar' %><br>
<% end %> 

<h1><%= @user.name.split.first %>'s Dashboard</h1>

<br><br><br><br><br><br>
<%= button_to "Log out", '/logout', method: :delete %>
