<div class="jumbotron">
  <div class="container">
    <h1>Vote Local.</h1>
    <p>
        Do you want to be more involved in your community?
        Have you ever felt like your vote didn't matter?
        This is your first step to get involved in your local political scene.
        Sign in to see who currently represents you!
    </p>
    <br />
    <br />
    <br />
    <p>
      <a><%= button_to "Login with Twitter", "/auth/twitter", :class => "btn btn-primary btn-lg" %></a>
    </p>
  </div>
</div>
